body[color-theme="dark"] {
  --base-color-header: #1f1f1f;
  --base-color-list: #363636;
  --base-color-text: #ffffff;
  --base-color-hover: #FFD600;
  --base-color-border: #858585;
}

body[color-theme="light"] {
  --base-color-header: #aeaeae;
  --base-color-list: #f1f1f1;
  --base-color-text: #000000;
  --base-color-hover: #ffbf00;
  --base-color-border: #858585;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px;
  background-color: var(--base-color-header);
}

.blocked-modal {
  display: none;
}

