body {
  background: rgb(2, 0, 36);
  background: linear-gradient(349deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 1) 0%, rgba(241, 60, 216, 1) 54%);
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  width: 260px;
  text-align: center;
  display: grid;
  color: rgb(230, 18, 18);
}

.openModal{
  width: fit-content;
  text-align: center;
  height: fit-content;
  display: grid;
  margin-top: 35px;
}

.container1{
  display: grid;
  grid-template-columns: 4fr 1fr;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.important {
  cursor: pointer;
  width: fit-content;
  text-align: start;
  border-radius: 5px;
  color: red;
  text-transform: uppercase;
  font-weight: bolder;
}

.label {
  width: fit-content;
  text-align: start;
  border-radius: 5px;
}

.todo {
  cursor: pointer;
  margin: auto;
  text-align: center;
  padding: 5px;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 8fr 2fr;
  height: 20px;
}

.Add {
  background-color: rgb(107, 255, 139);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  font-size: 30px;
}

input {
  background-color: white;
}

button {
  box-shadow: 7px 7px 4px -3px rgba(4, 5, 5, 0.5);
  background-color: #fd4444;
  border-radius: 50%;
  width: 28px;
}

.inputWindow {
  box-shadow: 11px 11px 4px -3px rgba(7, 7, 7, 0.5);
  width: 200px;
  height: 20px;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  margin: 15px;
}

.deleteChecked {
  margin: 20px;
  margin-right: 50px;
  float: right;
  background-color: darkred;
  width: 80px;
  border-radius: 5px;
  color: rgb(158, 158, 158);
}

meter {
  margin: 20px;
  margin-left: 30px;
  float: left;
  width: 125px;
  height: 30px;
}

.container {
  width: fit-content;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  margin: auto;
}

.App {
  padding: 2vh;
}
