
.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: var(--base-color-text);
    background: var(--base-color-list);
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }
  
  .todo > .delete {
    font-size: 15px;
    background: transparent;
    color: white;
    border: none;
    transition: 0.1s;
    width: 30px;
    height: 30px;
  }
  
  .todo > .delete:hover {
    font-size: 20px;
    background: transparent;
    color: white;
    border: none;
    transition: 0.1s;
    width: 30px;
    height: 30px;
  }
  
  .label,
  .important {
    cursor: pointer;
    width: 250px;
    text-align: start;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
  
  .important {
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(153, 17, 17);
  }
  
  .icon {
    color: var(--base-color-text);
  }