.navBar {
  display: grid;
  width: 100vw;
  grid-template-columns: 2fr 1fr;
  background-color: var(--base-color-nav);
  height: 74px;
}

.links{
  margin-top: 25px;
  margin-left: 30px;
}

.navBar_item {
  justify-self: end;
  margin: 10px;
  color: var(--base-color-text);
} 

.underline{
  color:rgb(11, 134, 134);
}

.nightButton {
  justify-self: end;
  padding: 25px;
  background: transparent;
  border: none;
  height: fit-content;

}

.autor{
  position:absolute;
  bottom: 0;
  right: 0;
}

.autorLink {
  color: var(--base-color-text);
}