.navBar {
  display: grid;
  width: 100vw;
  grid-template-columns: 10.5fr 1fr 1fr 10fr;
  background-color: var(--base-color-nav);
  height: 74px;
}

.navBar_item {
  justify-self: end;
  margin: 10px;
  color: var(--base-color-text);
}

.nightButton {
  justify-self: end;
  padding: 10px;
  background: transparent;
  border: none;
  height: fit-content;
}

.autor{
  height: 83vh;
  display: grid;
  justify-items: right;
  align-items: flex-end;
  padding-right: 10px;
}

.autorLink {
  color: var(--base-color-text);
}